var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide("slow"); 
$('#comments').prepend(new_comment);
$('#comment_<%= @comment_id %>').fadeIn("slow");
$('#new_comment')[0].reset();